.main-container {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-container {
  font-size: 30px;
}

.table-container {
  width: 100%;
}

.course-list-table {
  border-radius: 20px;
  padding: 10px;
}

.caption-container {
  padding: 20px;
  border: none;
}

th, td {
  text-align: center;
}

th {
  font-weight: bold;
  font-size: 20px;
}

td {
  font-size: 17px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.new-course-button {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: #007BFF 10px 5px;
  transition: 0.1s;
}

.action-button {
  border-radius: 8px;
  box-shadow: #007BFF 10px 5px;
  font-size: 15px;
}

.mat-row {
  height: 70px;
}

.custom-dialog-container .mat-dialog-container {
  max-width: none !important;
  width: 90vw !important;
}
