.input-group {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;

  label {
    font-size: 15px;
    font-weight: bold;
  }

  input {
    padding: 15px;
    border-radius: 8px;
    border-color: #007BFF;
  }
}
