<h2 mat-dialog-title>Change Password</h2>

<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
  <app-input [inputType]="InputType.PASSWORD" formControlName="currentPassword" [label]="'Current password'" />
  <app-input [inputType]="InputType.PASSWORD" formControlName="newPassword" [label]="'New password'" />
  <app-input [inputType]="InputType.PASSWORD" formControlName="confirmPassword" [label]="'Confirm password'" />

  <mat-dialog-actions align="end" class="buttons">
    <app-button [label]="'Cancel'" (clicked)="closeDialog()" [color]="'red'" />
    <app-button [label]="'Change'" [color]="'blue'" (clicked)="changePassword()"/>
  </mat-dialog-actions>
</form>
