* {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    align-self: center;
    justify-self: center;
    margin-top: 100px;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    display: block;
    font-weight: bold;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: #cccccc;
}

.btn:hover {
    background-color: #0056b3;
}

small {
    color: red;
}
