<h2 mat-dialog-title>Edit Profile</h2>

<form [formGroup]="editProfileForm" (ngSubmit)="saveProfile()">
  <app-input [inputType]="InputType.TEXT" [label]="'Name'" formControlName="name" />
  <app-input [inputType]="InputType.EMAIL" [label]="'Email'" formControlName="email" />
  <app-input [inputType]="InputType.TEXT" [label]="'Phone'" formControlName="phone" />

  <mat-dialog-actions align="end">
    <app-button [label]="'Cancel'" [color]="'red'" (clicked)="closeDialog()" />
    <app-button [label]="'Save'" [color]="'blue'" />
  </mat-dialog-actions>
</form>
