<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="main-dialog-container">
  <h1 mat-dialog-title>Course details</h1>
  <div mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Calendar">
        <ng-container [ngTemplateOutlet]="calendarTemplate"/>
      </mat-tab>
      <mat-tab label="Details">
        <ng-container [ngTemplateOutlet]="detailsTemplate" />
      </mat-tab>
      <mat-tab label="Actions">
        <ng-container [ngTemplateOutlet]="actionsTemplate" />
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions>
    <app-button [label]="'Close'" (clicked)="onNoClick()" [color]="'red'" />
  </div>
</div>


<ng-template #calendarTemplate>
  <div class="calendar-template">
    <div class="info-container">
      <ng-container *ngFor="let data of details.calendar.classDates" >
        <div class="class-date-item">
          <div class="infos">
            <span><b>Start date:</b> {{ data.startDate.toLocaleString() }}</span>
            <span><b>End date:</b> {{ data.endDate.toLocaleString() }}</span>
            <span><b>Length:</b> {{ data.length }} hours</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #detailsTemplate>
  <div class="details-template">
    <div class="info-item">
      <span class="info-title">Course name:</span>
      <span class="info-value">{{ details.details.courseName }}</span>
    </div>
    <div class="info-item">
      <span class="info-title">Course code:</span>
      <span class="info-value">{{ details.details.courseCode }}</span>
    </div>
    <div class="info-item">
      <span class="info-title">Course credit:</span>
      <span class="info-value">{{ details.details.courseCredit }}</span>
    </div>
    <div class="info-item">
      <span class="info-title">Course student number limit:</span>
      <span class="info-value">{{ details.details.courseStudentCountLimit }}</span>
    </div>
    <div class="info-item">
      <span class="info-title">Course student number:</span>
      <span class="info-value">{{ details.details.courseStudentCount }}</span>
    </div>
    <div class="info-item">
      <span class="info-title">Teacher:</span>
      <span class="info-value">{{ details.details.courseTeacher }}</span>
    </div>
    <div class="info-item">
      <span class="info-title">Course status:</span>
      <span class="info-value">{{ details.details.courseCompletionStatus }}</span>
    </div>
  </div>
</ng-template>

<ng-template #actionsTemplate>
  <div class="action-template">
    <button mat-flat-button class="green" (click)="onRegister()">Register for course</button>
    <button mat-flat-button>Save for draft</button>
  </div>
</ng-template>


